*{
    text-decoration: none;
    list-style: none;
    font-family: 'roboto', Verdana,sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 25px;
    background-color: #1f2937;
    color: white;
}
.header .left h2{
    padding: 0 80px;
}
.header a{
    color: rgba(255, 255, 255, .6);
    padding: 0 15px;
}
.page{
    display: flex;
    flex-direction: column;
}
.page div{
    flex: 1 1 auto;
    padding: 50px 100px;
}
.page .top{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 0 250px;
    align-items: center;
}
.page .top .top-left{
    flex: 1 1 auto;
    width: 200px;
}
.page .top .top-left p{
    color: rgba(255, 255, 255, .6);
}

.page .top .top-right{
    flex: 1 1 auto;
}
.imgplaceholder{
    height: 80px;
    width: 150px;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 4px;
}
button{
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
}
.page .random-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
}
.page .random-info h3{
    font-weight: bold;
    font-size: 32px;
}
.page .random-info .box-c{
    display: flex;
    flex: 0 0 auto;
}
.page .random-info .box-c .individual-box-c{
    display: flex;
    flex-direction: column;
}
.page .random-info .box-c .individual-box-c p{
    width: 120px;
    color: #1f2937;
}

.page .random-info .box-c .box{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    border:#3882f6 solid 4px;
    border-radius: 8px;
    flex: none;

}
.page .quote{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
}
.page .quote em{
   font-size: 24px;
    
}
.page .quote p {
    width: 400px;
}
.page .quote p .thor{
    align-self: flex-end ;
}
.page .action{
    background-color: #3882f6;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 80px 300px;
    border-radius: 6px;
}
.page .action .words h4{
    font-size: 32px;
}
.page .action .words p{
    font-size: 20px;
    color: rgba(255, 255, 255, .8);
}
.page .action button{
    border: white solid 2px;
    padding: 10px 40px;
    font-size: 20px;
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: white;
    height: 65px;
}

